
@{
                /**/

                ViewBag.Title = "Editar";
}

<h2>Editaçao das Cidades cadastradas</h2>
<form method="post"action="/cidade/update" >
<input type="hidden" name="id" value="@ViewBag.Cidade.Id" />
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="campo-nome">Nome da Cidade</label>
            <input type="text" name="nome" id="campo-nome" class="form-control" value="@ViewBag.Cidade.Nome" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label form="campo-estado">Estado</label>
            <select class="form-control" name="estado">
                <option disabled="disabled" selected="selected">Selecione um Estado</option>
                @foreach (Model.Estado estado in ViewBag.Estados)
                {
                    if (estado.Id == ViewBag.Cidade.IdEstado)
                    {
                        <option value="@estado.Id" selected="selected">@estado.Nome</option>
                    }
                    else
                    {
                        <option value="@estado.Id">@estado.Nome</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="campo-numeroHabitantes">Numero Habitante</label>
            <input type="text" name="numeroHabitantes" id="campo-numeroHabitantes" class="form-control" value="@ViewBag.Cidade.NumeroHabitantes" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button type="submit" class="btn btn-success float-right"> Salvar </button>
    </div>
</div>
</form>

