
@{
    ViewBag.Title = "Editar";
}

<h2>Editar clientes</h2>
<form action="/cliente/update" method="post">
    <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome do Cliente</label>
                <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.Cliente.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label form="campo-cidade">Cidade</label>
                <select class="form-control" name="cidade">
                    <option disabled="disabled" selected="selected">Selecione uma Cidade</option>
                    @foreach (Model.Cidade cidade in ViewBag.Cidades)
                    {
                        if (cidade.Id == ViewBag.Cliente.IdCidade)
                        {
                            <option value="@cidade.Id" selected="selected">@cidade.Nome</option>
                        }
                        else
                        {
                            <option value="@cidade.Id">@cidade.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-cpf">CPF</label>
                    <input type="text" name="cpf" class="form-control" id="campo-cpf" value="@ViewBag.Cliente.Cpf" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-dataNascimento">Data Nascimento</label>
                    <input type="text" name="dataNascimento" class="form-control" id="campo-dataNascimento" value="@ViewBag.Cliente.DataNascimento" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-numero">Numero</label>
                    <input type="text" name="numero" class="form-control" id="campo-numero" value="@ViewBag.Cliente.Numero" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-complemento">Complemento</label>
                    <input type="text" name="complemento" class="form-control" id="campo-complemento" value="@ViewBag.Cliente.Complemento" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-logradouro">Logradouro</label>
                    <input type="text" name="logradouro" class="form-control" id="campo-logradouro" value="@ViewBag.Cliente.Logradouro" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-cep">CEP</label>
                    <input type="text" name="cep" class="form-control" id="campo-cep" value="@ViewBag.Cliente.Cep" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right"> Salvar </button>
        </div>
    </div>
</form>

